.bg-custom{
    background-color: #2C3E50;
}

.strong-field{
    color: #27AE60;
}

.name-field-presentation{
    font-size: 60px;
}

.role-field-presentation{
    color: #D35400;
}

.text-field{
    color: white;
    font-size: 30px;
}

.social{
    width: 64px;
    height: 64px;
    padding: 10px;
}

.profile-image{
    padding: 100px;
}